{% extends "app/layout.html" %}
<!-- Make sure that the page redirects if the user isn't authenticated -->
{% block content %}
<div class="container">
	
    <h2>Account Details</h2>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Name: </h3>
            </div>
            <div class="col-md-4">
                <h3>{{user.first_name}} {{user.last_name}}</h3>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <h3>Devices: </h3>
            </div>
            <div class="col-md-2">
                <a href="." class="btn btn-primary">Add Device</a>
            </div>
        </div>
        <div class="row">
            <table>
                <!-- Generate the table using context data -->
            </table>
        </div>
    </div>

</div>
{% endblock %}