{% extends "app/layout.html" %}
{% load static %}

{% block styles %}
<link type="text/css" rel='stylesheet' href="{% static "app/content/new-carousel.css" %}"/>

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
{% endblock %}
<!---->
{% block content %}
<div id="myCarousel" class="carousel slide vw-100" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active flex-center">
            <div class="position-relative">
                <div class="banner-bella"></div>
            </div>
            
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1 class="font-oxygen">Track Them</h1>
                    <p>Ohhh, look how cute she is, how precious a bean!!!</p>
                    {% if user.is_authenticated %}
                    <p><a class="btn btn-lg btn-primary" href="{% url 'account' %}">View Your Account</a></p>
                    {% else %}
                    <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}">Create an Account Today!</a></p>
                    {%  endif %}
                </div>
            </div>
        </div>
        <div class="carousel-item flex-center">
            <div class="position-relative">
                <div class="banner-princess"></div>
            </div>

            <div class="container">
                <div class="carousel-caption">
                    <h1>Stored in the Cloud</h1>
                    <p>Access your tracking data from anywhere with our user-friendly web app.</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'event-list' %}">View More</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
    <div class="col-lg-4">
        <span class="rounded-circle">
            <img class="img-fluid" width="140px" height="140px" src="{% static "app/images/buddha_400sq.png" %}" aria-hidden="true">
        </span>

        <h2>Check In Anywhere</h2>
        <p>Tracking data can be accessed wherever you go using any modern web browser.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <span class="rounded-circle">
            <img class="img-fluid" width="140px" height="140px" src="{% static "app/images/bella_02_square.jpg" %}" aria-hidden="true">
        </span>
        
        <h2>Sniff 'Em Out</h2>
        <p>Use the Pawpharos Sniffer system to find a stealthy pet when they try to hide.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <span class="rounded-circle">
            <img style="object-fit:cover;object-position: 75% 0" width="140px" height="140px" src="{% static "app/images/odessa-xxl.png" %}">
        </span>

        <h2>Look at This Cat</h2>
        <p>Her name is Odessa and she is very fluffy.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">How it works.</h2>
        <p class="lead">
            Pawpharos makes use of Bluetooth Low Energy technology (BLE) alongside a network of sniffer devices placed in your home or business
             that listen for the signal of a BLE beacon attached to the collar of your pet as they move from room to room. You simply setup your 
             sniffer network, attach the beacon device to your pet's collar, and watch as Pawpharos monitors your pet's location. 
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{% static 'app/images/bluetooth_icon.svg' %}" width="500" height="500" aria-label="Bluetooth Logo"/>
    </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<!-- FOOTER -->
<footer class="container">
<p class="float-end"><a href="#">Back to top</a></p>
</footer>

{% endblock %}
