{% extends "app/layout.html" %}

{% block content %}
<div class="container p-3">
	<div class="col-md-8">
		<section id="registrationForm">
			<form action="." method="post" class="form-horizontal">
				{% csrf_token %}
				<h2>Register</h2>
				<hr/>
				
				{% for field in form %}
				<div class="form-group has-validation mb-3">
					<div class="form-group has-validation mb-3">
						<label for="{{ field.id_for_label }}" class="col-md-2 control-label">{{ field.label }}</label>
						<div class="col-md-10">
							{{ field }}
						</div>
					</div>
				</div>
				{% endfor %}
				
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="hidden" name="next" value="/" />
						<input type="submit" value="Register" class="btn btn-primary" />
					</div>
				</div>
			</form>
			{% if form.errors %}
			<ul class="validation-summary-errors">
				{% for error in form.errors %}
				<li>{{error}}</li>
				{%endfor%}
			</ul>
			{% endif %}
		</section>
	</div>
</div>
{% endblock %}


{% block scripts %}

{% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

<script type="text/javascript">

function setError(id) {
	$(id).removeClass("is-valid")
	$(id).addClass("is-invalid")
}

</script>

{% endblock %}